language: php 
php: 
  - 5.3
  - 5.4

env:
  matrix:
    - DB=MYSQL CORE_RELEASE=3.3
    - DB=MYSQL CORE_RELEASE=3

before_script:
  - phpenv rehash
  - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
  - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
  - cd ~/builds/ss

script: 
  - phpunit oauth-login/tests/
